// Colors
$white: #fff;
$lightGray: #eee;
$darkGray: #333;
$gray: #666;
$blue: #4184C4;
$black: #000;

// Fonts
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}